@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Adobe Clean UX";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./assets/adobe-clean/AdobeCleanUXRegular.otf) format('otf');
    }
}

@font-face {
    font-family: "Adobe Clean UX";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("http://127.0.0.1:5500/assets/adobe-clean/AdobeCleanUXRegular.otf") format('otf');
}

.base {
    font-family: "Adobe Clean UX";
    font-style: normal;
}

.background {
    background-position: center;
    background-size: cover;
    background-image: url("http://127.0.0.1:5500/assets/background.jpg");
}